---
const navLinks = [
  { text: "Home", href: "/" },
  { text: "About", href: "/about/" },
  { text: "Blog", href: "/blog/" },
];
---

<div class="nav-links">
  {navLinks.map(({ text, href }) => <a href={href}>{text}</a>)}
</div>
