---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro | {pageTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white text-slate-900 dark:bg-slate-800 dark:text-slate-200">
    <Header />
    <div class="container mx-auto py-0 p-4 md:p-8 lg:p-16">
      <h1 class="text-3xl md:text-4xl lg:text-6xl font-bold">{pageTitle}</h1>
    </div>
    <!-- slot is similiar to {children} in React -->
    <main class="container mx-auto p-4 md:p-8 lg:p-16 lg:py-2">
      <slot />
    </main>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
